.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

Form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

button {
  width: 150px;
  align-items: flex-start;
}

.username,
.password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.back {
  display: flex;
  justify-content: flex-start;
  background: none;
  border: none;
  color: #646cff;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}
.back:hover {
  color: #535bf2;
}

.back:focus,
.back:focus-visible {
  outline: none;
}
