.container {
  display: flex;
  flex-direction: column;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.links {
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: flex-end;
  margin-bottom: -10px;
}

.title {
  margin: 0 auto;  
}

.postGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.post {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.post:hover {
  transform: scale(1.05);
}

.loading, .noPosts{  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This makes the container full height of the viewport */
  text-align: center; /* This ensures inline content is centered */

}