.back {
    text-align: center;

    background: none;
    border: none;
    color: #646cff;
    margin: 0;
    padding: 0;
    text-decoration: underline;
  }
  .back:hover {
    color: #535bf2;
  }
  
  .back:focus,
  .back:focus-visible {
    outline: none;
  }